 /*Estilos Gerais*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace ;
    font-optical-sizing: auto;
    font-style: normal;
 }
 body{
    background-color: #0b1621;
    color: #fff;
    font-size: 17px;
   
 }
 .container{
    width: 80%;
    margin: auto;

 }
 
 h1,h2,h3,h4 {
    font-weight: 700;
 }

 h1 span,h2 span {
    color: #ff5023;
 }

 .btn-primary {
    background: #ff5023 ;
    color #fff;
    padding: 20px 40px;
    border-radius:8px ;
    text-decoration:none ;
    transition:0.3s ;
    font-size: 20px;
    font-weight: bolder;
 }

 .btn-primary:hover {
    background: #ff6538;

 }

 /*header*/
 .header {
   background: #0e1b28;
   padding: 20px 0;
   border-bottom: 1px solid #18283d;
 }

 .header .container{
   display: flex;
   justify-content: space-between;
   align-items: center;

 }

 .header .logo {
   font-size: 20px;
   font-weight: 800;

 }

 .nav a {
   margin: 0 10px;
   color: #fff;
   text-decoration: none;
   font-weight: 500;
   
 }
 .nav a:hover {
   margin: 0 10;
   color: #ff5023;
   transition: 1s;
   text-decoration: none;
   font-weight: 500;
 }

 /* hero section*/
 .hero {
   padding: 100px 0;
   height: 90vh ;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/img/hero_img.jpg);
   background-size: cover;
   background-position: top;
   
 }  
 .hero-content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
 }
 .hero-text {
   max-width: 900px;
 }
 .hero-text h1 {
   font-size: 60px;
   line-height: 62px;
   margin-bottom: 20px;

 }

.hero-text .tags {
   margin: 50px 0;
   
}

.hero-text p{

   font-size: 24px;
}

.hero-text .tags span {
   background: #192b40 ;
   color: #ff5023;
   padding: 5px 10x;
   border-radius: 5px;
   margin-right: 8px;
   font-size: 24px;
}

.hero-text .clientes {
   margin-top: 60px;
   font-size: 0.9rem;
   color: #bbb;


}
/*Sobre*/
section{
   padding: 80px 0;
}

.sobre{
   width: 100%;
   height: 100vh;
   margin-top: 50px;


}
.serviços_grid, .depoimentos_grid, .footer_grid {
   display: grid;
   gap: 20px;
   
}
.sobre_cards{
   width: 35%;
   float: left;
   padding-right: 5%;

}
.card{
   background: #152236;
   padding: 80px;
   border-radius: 10px;
   transition: 0.3s;
   margin-bottom: 15px;
}
.card:hover{
   background: #1b2d44;

}
.sobre_text{
   width: 60%;
   float: left;
   padding-left: 15px;
}
/*Serviços*/ 
.serviços {

   width: 100%;
   height: 100vh;
   margin-top: 50px;
   background-color: #07121c;

   }
 .serviços_grid {

   grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
   margin: 40px 0;
 }  

 .card_serviços {
   background: #152236;
   padding: 40px;
   border-radius: 10px;
   transition: 0.3s;
   margin-bottom: 15px;
   cursor:pointer;

 }
 .card_serviços:hover {

   background: #1b2d44;
 }
 /*Habilidades*/ 
 .habilidades {
   width: 100%;
   height: 100vh;
   margin-top: 30px;
   background-color: #fff;

 }
.text_dark {

   color: #152236;

}

.col_metricas {

   width: 40%;
   float: left;
   padding-right: 50px;
}

.col_habilidades {

   width: 60%;
   float: left;
   padding-left: 40px;
}

.img_habilidades {

    width: 100%;
    box-shadow: 5px 10px 10px #cdcdcd;
    border-radius: 30px;

}

.line_habilidades {

   width: 100%;
   display: inline-block;
   padding: 10px 0;

}

.col_img_habilidades {

   width: 20%;
   float: left;

}

.col_inf_habilidades {

   width: 80%;
   float: left;

}

.icon_habiliades {

   font-size: 60px; 
   color: #ff5023;

}

.metricas {

   width: 100%;
   display: inline-block;
   justify-content: space-around;
   margin: 10px 0;
   color: #fff;
   background-color: #152236;
   border-radius: 30px ;
   padding: 40px 50px 20px 50px;
}

.metricas div strong {

   display: block;
   font-size: 30px;
   color: #fff;

}

.col_img_habilidades_lista {

   width: 10%;
   float: left;

}

.col_inf_habilidades_lista {

   width: 90%;
   float: left;

}

.icon_habiliades_lista {

   font-size: 50px;
   color: #ff5023;

}

